
.providers {
    display: flex;
    flex-direction: column;
  width: 75%;
  height: 500px;
  position: relative;
  margin: 0 auto;
  height: 500px;
  overflow: hidden;
}

.gig__link {
    display: flex;
    justify-content: center;
    flex-direction: column;
    flex-wrap: wrap;
    padding: 1%;
    word-spacing: 5%;
    border: 9px solid #1C6EA4;
    background-color: rgb(179,242,255, 0.35) ;
    border-radius: 17px;
    text-align: center;
    font-size: larger;
}

.profile__pic {
    display: flex;
    size: 50px;
}

