@import url('https://fonts.googleapis.com/css2?family=Spartan&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap');

.main__about {
    display: flex;
    padding: 3%;
    justify-content: center;
}

.social__header{
    display: flex;
    
    justify-content: center;
}

.social {
    display: flex;
    padding: 3%;
    justify-content: center;
    flex-direction: column;
}

.social__link {
    display: flex;
    padding: 3%;
    justify-content: center;
}

.icons{
    display: flex;
    size: 5%;
    opacity: 50%;
}

.icon__text {
    opacity: 50%;
}